.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.top {
  min-width: 380px;
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: antiquewhite;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto 30px;
}
.city {
  font-size: 28px;
  margin: 20px;
}
.tabList {
  border-top: 1px solid rgba(0, 0, 0, 0.1882352941);
}
.tabBtn:nth-child(2) {
  border-width: 0px 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1882352941);
}

@media (max-width: 768px) {
  .top {
    min-width: 0;
    width: 340px;
  }
  .city {
    font-size: 24px;
  }
}
