.app {
  overflow: hidden;
}
.hourly-scrollbar {
  width: 100%;
  height: 10px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  position: relative;
  z-index: 5;
}
.hourly-scrollbar div {
  height: 100%;
  background-color: #1976d2;
  border-radius: 20px;
}
.hourly-slider .swiper-slide:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  overflow: hidden;
}
.hourly-slider .swiper-slide:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.loadForecast {
  padding: 5% 20px 20px;
}
.default-bg {
  background-image: url(../src/assets/backgrounds/default-bg.png);
}
.clear-day-bg {
  background-image: url(../src/assets/backgrounds/clear-day-bg.png);
  background-color: #31ace9;
}
.clear-night-bg {
  background-image: url(../src/assets/backgrounds/clear-night-bg.png);
  background-color: #002b3d;
}
.clouds-day-bg {
  background-image: url(../src/assets/backgrounds/clouds-day-bg.png);
  background-color: #46a3cc;
}
.clouds-night-bg {
  background-image: url(../src/assets/backgrounds/clouds-night-bg.png);
  background-color: #002b3d;
}
.rain-day-bg {
  background-image: url(../src/assets/backgrounds/rain-day-bg.png);
  background-color: #77b1ca;
}
.rain-night-bg {
  background-image: url(../src/assets/backgrounds/rain-night-bg.png);
  background-color: #002b3d;
}
.snow-day-bg {
  background-image: url(../src/assets/backgrounds/snow-day-bg.png);
  background-color: #94bfd2;
}
.snow-night-bg {
  background-image: url(../src/assets/backgrounds/snow-night-bg.png);
  background-color: #002b3d;
}
